@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/*@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900,100);
/* ---------------------------------------------------------------- */
/* MAIN SETUP */
/* ---------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: Lato,Helvetica,"sans-serif";
  font-weight: 300;
  font-size: 25px; }

img {
  max-width: 100%;
  height: auto; }

li {
  list-style: none; }

a {
  text-decoration: none; }

/* ---------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------------------- */
.max-width {
  max-width: 1200px;
  margin: 0 auto; }

.wrapper-main.profile-page {
  background: #5f2c82;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #5f2c82, #49a09d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh; }

/* ---------------------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------------------- */
.profile-page header:first-of-type {
  background-color: #000000; }

.wrapper-nav {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.wrapper-nav figure {
  -webkit-flex: 0 0 50px;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  margin: 5px; }

.wrapper-nav nav {
  /*    border: 1px solid yellow;*/
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.wrapper-nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px; }

.wrapper-nav ul li {
  -webkit-flex: 0 1 120px;
  -ms-flex: 0 1 120px;
  flex: 0 1 120px; }

.wrapper-nav ul li a {
  color: white;
  text-transform: uppercase;
  font-size: 1rem; }

.wrapper-nav ul li a:hover {
  color: #4DD0E1; }

/* ---------------------------------------------------------------- */
/* COVER & PROFILE IMAGE */
/* ---------------------------------------------------------------- */
.cover-image {
  height: 300px;
  background-image: url("../photos/cover.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.profile-image {
  top: 80px;
  position: relative;
  width: 150px;
  margin: 0; }

.profile-image img {
  border: 3px solid white;
  border-radius: 50%; }

/* ---------------------------------------------------------------- */
/* TYPOGRAPHY */
/* ---------------------------------------------------------------- */
.cover-image h1 {
  font-size: 3rem;
  font-weight: 100; }

.cover-image h1 {
  color: white; }

.event h2,
.event h3 {
  color: white; }

h2 {
  font-weight: 900;
  font-size: 3rem; }

h3 {
  font-weight: 400;
  font-size: 1rem; }

.main-content {
  margin: 0 2%;
  margin-bottom: 30px; }

/* ---------------------------------------------------------------- */
/* LIKED GAMES */
/* ---------------------------------------------------------------- */
.liked-games {
  margin-top: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.21);
  text-align: center;
  color: white;
  padding: 50px;
  /*
    -webkit-box-shadow: 0px 7px 21px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 7px 21px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 7px 51px 0px rgba(0,0,0,0.15);
*/ }

.liked-games > * {
  -webkit-flex: 0 0 100px;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  margin: 10px;
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline; }

.liked-games h2 {
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: 900;
  font-size: 2rem; }

/* ---------------------------------------------------------------- */
/* EVENTS CARD LAYOUT */
/* ---------------------------------------------------------------- */
.event-buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
  text-align: center; }

.event-buttons a {
  font-size: .7rem;
  font-weight: 300;
  margin: 10px;
  margin-bottom: 0;
  padding: 10px;
  border: 2px solid #cccccc;
  border-bottom: 0;
  /*    background-color: rgba(255, 249, 249, 0.65);*/
  transition: background-color .2s, color .2s;
  -webkit-flex: 0 1 120px;
  -ms-flex: 0 1 120px;
  flex: 0 1 120px; }

.event-buttons a:hover {
  background-color: #FF8A65;
  color: white;
  border: 2px solid #FF8A65;
  border-bottom: 0; }

.event-buttons-hover {
  background-color: rgba(255, 255, 255, 0.34);
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.34);
  border-bottom: 0; }

.event-buttons i {
  margin: 5px;
  display: block;
  text-align: center;
  font-size: 2rem;
  color: white; }

.event-buttons a {
  color: white; }

.my-events, .global-events {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.34); }

.event {
  position: relative;
  -webkit-flex: 0 1 calc(33.33% - 20px);
  -ms-flex: 0 1 calc(33.33% - 20px);
  flex: 0 1 calc(33.33% - 20px);
  margin: 10px;
  background-position: center;
  background-size: cover;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  transition: border 0.1s;
  /*    border: 6px solid white;*/ }

.four-column {
  -webkit-flex: 0 1 calc(25% - 20px);
  -ms-flex: 0 1 calc(25% - 20px);
  flex: 0 1 calc(25% - 20px); }

.fifa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), black), url(../photos/gamesBG/Fifa16BG.jpeg); }

.hearthstone {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), black), url(../photos/gamesBG/HearthStoneBG.jpg); }

.csgo {
  background-image: linear-gradient(transparent, black), url(../photos/gamesBG/CSGOBG.jpg); }

.cod {
  background-image: linear-gradient(transparent, black), url(../photos/gamesBG/CODBG3.jpg); }

.smash {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), black), url(../photos/gamesBG/SuperSmashBGSmall.jpg); }

.dota2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), black), url(../photos/gamesBG/Dota2BGLow.jpg); }

/*----- DECISION EFFECTS -----*/
.decision {
  position: absolute;
  height: 130px;
  /*    bottom: 35%;*/
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #4d8998; }

.decision a {
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  color: #ffffff;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.decision a:first-child {
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

.decision i {
  font-size: 1.5rem;
  padding: 15px 0; }

.yes {
  transition: background-color 0.2s; }

.yes:hover {
  background-color: #AED581; }

.no {
  transition: background-color 0.2s; }

.no:hover {
  background-color: #FF8A65; }

.game-logo img {
  border-radius: 50%;
  width: 80px;
  border: 6px solid rgba(116, 116, 116, 0.19); }

.game-logo figcaption {
  color: white;
  font-size: 1rem; }

.creator-picture {
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0;
  margin-top: 50px;
  padding: 20px; }

.creator-picture p {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 1rem;
  margin: 10px; }

.creator-picture img {
  border-radius: 50%; }

.creator-picture figure {
  -webkit-flex: 0 0 50px;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  margin: 10px; }

.going {
  border: 6px solid #aed581; }

.not-going {
  border: 6px solid #FF8A65; }

/* ---------------------------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------------------------- */
footer {
  background-color: black;
  height: 60px; }

/* ---------------------------------------------------------------- */
/* MEDIA QUERIES */
/* ---------------------------------------------------------------- */
@media screen and (max-width: 900px) {
  .event {
    -webkit-flex: 0 1 calc(50% - 20px);
    -ms-flex: 0 1 calc(50% - 20px);
    flex: 0 1 calc(50% - 20px); } }

@media screen and (max-width: 600px) {
  .event {
    -webkit-flex: 0 1 calc(100% - 20px);
    -ms-flex: 0 1 calc(100% - 20px);
    flex: 0 1 calc(100% - 20px); } }

.ion-log-out {
  font-size: 1.5rem; }

/* ---------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------------------- */
section {
  padding: 80px 0; }

/* ---------------------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------------------- */
header {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*    flex-direction: column;*/
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background-color: #4e4e4e;
  background: #c2e59c;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c2e59c, #64b3f4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.header-background {
  -webkit-flex: 6;
  -ms-flex: 6;
  flex: 6;
  -webkit-flex: 0 1 600px;
  -ms-flex: 0 1 600px;
  flex: 0 1 600px;
  background-color: rgba(255, 255, 255, 0.12);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 5%;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px 7px 51px 0px rgba(0, 0, 0, 0.1); }

.header-background > * {
  -webkit-flex: 0 1 calc(50% - 40px);
  -ms-flex: 0 1 calc(50% - 40px);
  flex: 0 1 calc(50% - 40px);
  margin: 20px; }

.tagline {
  /*    flex: 2;*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /*    justify-content: center;*/
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /*    align-content: center;*/ }

.tagline h1 {
  font-size: 2.1rem;
  font-weight: 100;
  color: #ffffff;
  margin: auto 5%; }

.sign-in {
  margin: auto 5%; }

.facebook-button {
  /*    text-align: center;*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: none;
  background-color: rgba(255, 255, 255, 0.67);
  width: 180px;
  margin-top: 30px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  color: #2c2c2c;
  transition: all 0.2s ease-in-out; }

.facebook-button > * {
  margin: 5px; }

.facebook-button:hover {
  background-color: #3b5999;
  color: white; }

.facebook-button i {
  font-size: 1.8rem; }

.facebook-button p {
  font-size: .8rem; }

.scroll-down {
  bottom: 30px;
  left: 0;
  right: 0;
  position: absolute;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white; }

.scroll-down h2 {
  font-weight: 100;
  font-size: 1rem; }

.scroll-down i {
  margin-top: 5px;
  font-size: 1.5rem; }

/* ---------------------------------------------------------------- */
/* INTRODUCTION TO APP */
/* ---------------------------------------------------------------- */
video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
  min-height: 100%;
  min-width: 100%; }

.app-introduction {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.introduction-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: auto 10%;
  /*    margin: auto 20%;*/ }

.introduction-wrapper h2, h3 {
  color: black; }

.introduction-wrapper h2 {
  font-weight: 900;
  font-size: 2rem;
  margin: 20px auto; }

.introduction-wrapper h3 {
  font-weight: 100;
  font-size: 3rem; }

.app-introduction {
  position: relative; }

/* ---------------------------------------------------------------- */
/* MEDIA QUERIES */
/* ---------------------------------------------------------------- */
@media screen and (max-width: 800px) {
  .header-background {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
  .header-background .logo {
    width: 200px; }
  .tagline {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; } }

/*# sourceMappingURL=home.css.map */
