@import "normalize";
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900,100);
@import "jquery.datetimepicker";

/* ---------------------------------------------------------------- */
/* VARIABLES */
/* ---------------------------------------------------------------- */

$green: rgba(174, 213, 129, 0.8);
$red: #ff5c29;


/* ---------------------------------------------------------------- */
/* MAIN SETUP */
/* ---------------------------------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, Helvetica, "sans-serif";
  font-size: 25px;
  background: linear-gradient(to bottom, #43cea2 , #185a9d);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ---------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------------------- */

.max-width {
  max-width: 1200px;
  margin: 0 auto;
  width: 95%;
}

.wrapper-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.validation {
  background: $red;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 50px;
  padding: 20px;
}

.btn {
  display: flex;
  align-items: center;
  border: none;
  color: #fff;
  margin: 20px auto 40px auto;
  border-radius: 3px;
  font-size: 1rem;
  // font-weight: 400;
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.43);
  padding: 5px 10px;
  text-transform: uppercase;
  transition: background-color 0.2s;

  &:hover {
    background-color: #8BC34A !important;
  }

  &.no:hover {
    background-color: $red !important;
  }

  > * {
    margin: 5px;
    align-self: center;
  }

  span[class] {
    font-size: 2rem;
  }
}

/* ---------------------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------------------- */


header {
  background: #000;
  padding: 25px 0;
}

.wrapper-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: 767px) {
    justify-content: space-between;
  }

  .logo {
    height: 70px;
    max-width: auto;
  }

  nav {
    align-self: center;

    ul {
      display: flex;

      li {
        display: inline-block;
        margin: 0 5px;
        align-self: center;

        @media (min-width: 767px) {
          margin: 0 10px;
        }

        a {
          color: #fff;
          display: block;
          text-transform: uppercase;
          font-size: 1rem;
          padding: 0 5px;
          transition: all 0.5s;

          @media (min-width: 767px) {
            padding: 0 10px;
          }

          &:hover {
            color: #4DD0E1;
          }
        }

        &:last-of-type {
          margin-right: 0;

          a {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

/* ---------------------------------------------------------------- */
/* COVER & PROFILE IMAGE */
/* ---------------------------------------------------------------- */

.avatar {
  border: 6px solid rgba(116, 116, 116, 0.19);
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.cover-image {
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 100px;

  h1 {
    font-size: 1.5rem;
    // font-weight: 700;
    font-weight: normal;
    color: #fff;
    background-color: rgba(31, 31, 31, 0.85);
    position: relative;
    border-radius: 5px;
    top: 50px;
    padding: 20px 30px;
  }

  .profile-image {
    top: 80px;
    position: relative;
    margin: 0;

    .avatar {
      border: 3px solid rgb(255, 255, 255);
      width: 150px;
      height: 150px;
    }
  }
}


/* ---------------------------------------------------------------- */
/* LIKED GAMES */
/* ---------------------------------------------------------------- */

.liked-games {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.21);
  text-align: center;
  color: #fff;
  padding: 50px;

  > * {
    flex: 0 0 100px;
    margin: 10px;
    align-self:baseline;
  }

  h2 {
    flex: 0 1 100%;
    align-self: center;
    font-weight: normal;
    font-size: 2rem;
  }
}

.game-logo {
  color: #fff;
  font-size: 1rem;
  text-align: center;

  img {
    border: 6px solid rgba(116, 116, 116, 0.19);
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    transition: border 0.2s;

    &.selected {
      border-color: #e2c83b;
    }
  }
}


/* ---------------------------------------------------------------- */
/* EVENTS CARD LAYOUT */
/* ---------------------------------------------------------------- */

.event-buttons {
  @extend .max-width;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-align: center;

  a {
    color: #fff;
    cursor: pointer;
    font-size: .7rem;
    // font-weight: 300;
    font-weight: normal;
    margin: 10px 3px 0 3px;
    padding: 10px;
    border: 2px solid #cccccc;
    border-bottom: 0;
    /*    background-color: rgba(255, 249, 249, 0.65);*/
    transition: background-color .2s, color .2s;
    flex: 0 1 120px;

    @media (min-width: 768px) {
      margin: 10px 10px 0 10px;
    }

    &:hover{
      background-color: #FF8A65;
      color: #fff;
      border: 2px solid #FF8A65;
      border-bottom: 0;
    }

    i {
      margin: 5px;
      display: block;
      text-align: center;
      font-size: 2rem;
      color: #fff;
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.34);
      color: #fff;
      border: 2px solid rgba(255, 255, 255, 0.34);
      border-bottom: 0;
    }
  }
}

.event {
  position: relative;
  flex: 0 1 calc(100% - 20px);
  margin: 10px;
  background-position: center;
  background-size: cover;
  align-items: center;
  text-align: center;
  transition: border 0.1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-basis: calc(50% - 20px);
  }

  @media (min-width: 992px) {
    flex-basis: calc(33.333% - 20px);
  }

  a {
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }

  .admin-post {
    position: absolute;
    font-size: 1rem;
    // font-weight: 400;
    font-weight: normal;
    top: 10px;
    left: 10px;
    color: #2f2f2f;
    background: rgb(222, 200, 32);
    padding: 5px;

    > * {
      margin: 4px;
    }

    p {
      font-size: .7rem;
      align-self: center;
      text-transform: uppercase;
    }

    span {
      align-self: center;
    }
  }

  .game-logo {
    margin: 1em 40px;
  }

  .delete-form {
    display: inline;

    .delete-button {
      display: none;
      position: absolute;
      top:10px;
      right:10px;
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: rgba(0, 0, 0, 0.29);
      border: 0;
      padding: 2%;
      border-radius: 5px;
      transition: background-color 0.2s;

      &:hover{
        background-color: #ff5c29 ;
      }
    }

  }

  .day {
    display: block;
    font-size: 2rem;
  }

  .time {
    display: block;
    font-size: 1rem;
  }

  .author {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
    background: rgba(0, 0, 0, 0.4);
    margin: 50px 0 0 0;
    padding: 20px;
    width: 100%;

    img {
      border-radius: 50%;
      flex: 0 0 50px;
      height: 50px;
      margin: 10px;
      width: 50px;
    }

    span {
      flex: 0 0 auto;
      font-size: 1rem;
      margin: 10px;
    }
  }

  .title {
    min-height: 60px;
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;

    h2 {
      color: black;
      // font-weight: 300;
      font-weight: normal;
      font-size: 1rem;
      margin: 0;
    }
  }

  .decision {
    padding: 0;
    position: absolute;
    min-height: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(3, 3, 3, 0.95);

    a {
      flex: 1;
      color: #ffffff;
      align-self: center;
      display: flex;
      min-height: 100%;
      justify-content: center;
      align-items: center;
    }

    p {
      flex: 1;
      font-size: 1.3rem;
    }

    .yes {
      transition: background 0.2s;

      &:hover{
        background: #AED581;
        text-decoration: none;
      }
    }

    .no {
      transition: background 0.2s;

      &:hover {
        background: #FF8A65;
        text-decoration: none;
      }
    }

    i{
      font-size: 1.5rem;
      padding: 15px 0;
    }
  }

  &.going {
    border: 6px solid rgb(174, 213, 129);

  }

  &.not-going {
    border: 6px solid #FF8A65;
  }

  &:hover {
    .delete-button {
      display: inline-block;
    }
  }
}

.all-events .event {
  @media (min-width: 767px) {
    flex-basis: calc(25% - 20px);
  }
}

.content {
  @extend .max-width;
  background: rgba(255, 255, 255, 0.34);
  margin-bottom: 40px;

  .my-events, .all-events, .add-event {
    display: flex;
    flex-wrap: wrap;
  }

  h2 {
    color: #fff;
    font-weight: normal;
    font-size: 2.5rem;
    margin: 40px;
  }

  form {
    input:focus, textarea:focus {
      outline: none;
    }
  }

  .no-events {
    color: #fff;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
}

/* ---------------------------------------------------------------- */
/* MY GAMES */
/* ---------------------------------------------------------------- */


.my-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .choose-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .choose-game .game {
    transition: border 0.1s;
  }

  .choose-game .game:hover, .choose-game .game.selected {
    border: 6px solid #e2c83b;
  }

  .game {
    flex: 0 1 calc(100% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 300px;

    @media (min-width: 767px) {
      flex-basis: calc(33.333% - 20px);
    }

    img {
      height: 100px;
      width: 100px;
      margin: 0 auto;
    }

    span {
      color: #fff;
      font-size: 1.5rem;
      margin: 5%;
    }
  }

  .done {
    text-align: center;
    display: flex;
  }

  .done h2{
    flex: 0 0 200px;
  }

  .green-border {
    border: 6px solid $green;
  }
}


/* ---------------------------------------------------------------- */
/* EVENT PAGE */
/* ---------------------------------------------------------------- */

.event-details {
  color: #fff;

  .column {
    float: left;
    padding: 10px;
    width: 50%;
  }

  .day {
    display: block;
    font-size: 6rem;
    font-weight: bold;
  }

  .time {
    display: block;
    font-size: 3.3rem;
    font-weight: normal;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
  }

  form.decision {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;

    > * {
      flex-grow: 1;
      text-align: center;
    }

    .btn {
      background-color: transparent;
      justify-content: center;
      margin: 0;
    }
  }

  .event-participants {
    text-align: center;

    img {
      border: 3px solid rgb(255, 255, 255);

      &.author {
        height: 150px;
        width: 150px;
      }
    }

    h2 {
      font-size: 2rem;
      font-weight: normal;
      margin: 20px 0;
    }
  }
}

.event-comments {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin: 20px 10px;
  padding: 10px;
}

/* ---------------------------------------------------------------- */
/* ADD EVENT CSS */
/* ---------------------------------------------------------------- */

form.event-form {
  font-size: 20px;
  text-align: center;
  width: 100%;

  .liked-games {
    background: none;
    margin: 0;
    padding: 0;
  }

  .form-group:first-of-type {
    margin-top: 40px;
  }

  label {
    display: block;
    color: #fff;
    font-weight: normal;
    font-size: 1rem;
    text-align: left;
  }

  label.game-logo {
    text-align: center;
  }

  textarea,
  input[type="text"] {
    text-align: left;
    background: rgba(255, 255, 255, 0.34);
    border: 1px solid #fff;
    margin-top: 5px;
    width: 500px;
    max-width: 100%;
    padding: 10px;
    font-size: 1rem;
  }

  #description {
    height: 150px;
  }

}

form.my-games-form {
  width: 100%;
}

.add_event {
  background-color: rgba(255, 255, 255, 0.34);
}


.form-group {
  padding-bottom: 10px;
  width: 500px !important;
  max-width: 95% !important;
  margin: 0 auto;
  text-align: left;

}

/* ---------------------------------------------------------------- */
/* ADMIN PAGE */
/* ---------------------------------------------------------------- */

.admin {
  @extend .max-width;
  background: rgba(255, 255, 255, 0.21);
  color: #fff;
  margin: 20px auto;
  padding: 20px 10px;
  width: calc(100% - 40px);

  @media (min-width: 767px) {
    padding: 50px;
  }

  h2 {
    color: #fff;
    font-weight: normal;
    font-size: 2rem;
    text-align: center;
    margin: 0 10px 50px 10px;
    line-height: 60px;
    height: 60px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .btn {
    &.new {
      margin-top: 0;
    }

    &.btn-danger:hover {
      background: $red;
    }

    &.btn-primary:hover {
      background: $green;
    }
  }

  .table {
    font-size: 1rem;
    width: 100%;

    thead {
      th {
        font-size: 0.8rem;
        font-weight: normal;
        padding: 5px;
        text-transform: uppercase;

        &.image {
          width: 100px;
        }

        &.actions {
          width: 115px;
        }
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background: rgba(0, 0, 0, 0.1);
          border-radius: 5px;
        }

        td {
          text-align: center;

          .btn {
            display: inline-block;
            margin: 0 5px;
            padding: 10px;
            width: 45px;

            span {
              font-size: 1rem;
              margin: 0;
            }

            .avatar {
              margin: 5px;
            }
          }

          a {
            text-decoration: underline;
          }
        }
      }
    }
  }

  form {
    label {
      display: block;
      color: #fff;
      font-weight: normal;
      font-size: 1rem;
      text-align: left;
    }

    input[type="text"], select, textarea, .preview {
      text-align: left;
      background: rgba(255, 255, 255, 0.34);
      border: 1px solid #fff;
      margin-top: 5px;
      width: 500px;
      max-width: 100%;
      padding: 10px;
      font-size: 1rem;
    }

    .preview {
      display: none;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    textarea {
      height: 150px;
    }

    input:focus, textarea:focus {
      outline: 0;
    }
  }

  .liked-games {
    background: transparent;

    h2 {
      display: none;
    }
  }
}

.add_event form {
  padding: 40px;
}

.alert {
  color: #fff;
  padding: 10px;

  button {
    background: transparent;
    border: 0;
    float: right;
  }

  &.alert-success {
    background: $green;
  }

  &.alert-danger {
    background: $red;
  }
}

.pull-right {
  float: right;
}

.hide {
  display: none !important;
}
