@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900,100);
/* ---------------------------------------------------------------- */
/* MAIN SETUP */
/* ---------------------------------------------------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    font-family: Lato,Helvetica,"sans-serif";
    font-weight: 300;
    font-size: 25px;
}

img{

    max-width: 100%;
    height: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ---------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------------------- */

.max-width{

    max-width: 1200px;
    margin: 0 auto;
}

.wrapper-main.profile-page{

    background: #43cea2; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #43cea2 , #185a9d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #43cea2 , #185a9d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* ---------------------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------------------- */


.profile-page header{
    background-color: #000000;
}

.wrapper-nav{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.wrapper-nav figure{
    flex: 0 0 50px;
    margin: 5px;
}


.wrapper-nav nav{
/*    border: 1px solid yellow;*/
    flex: 1 1 auto;
}

.wrapper-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 80px;

}
.wrapper-nav ul li{
    flex: 0 1 120px;
}
.wrapper-nav ul li a{
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
}

.wrapper-nav ul li a:hover{

    color: #4DD0E1;
}


/* ---------------------------------------------------------------- */
/* HOME PAGE CSS */
/* ---------------------------------------------------------------- */


.home-page section{
    padding: 80px 0;
}

.home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4e4e4e;


    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-background {

    flex-basis: 600px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0px 7px 51px 0px rgba(0,0,0,0.1);
    margin: 5%;

    @media screen and (min-width: 768px){
        display: flex;
        align-items: center;
        align-self: center;
    }

    > * {
        margin: 20px;

        @media screen and (min-width: 768px){
            flex-basis: calc(50% - 40px);
        }
    }

    .logo {
        text-align: center;

        img {
            max-width: 80%;
            height: auto;

            @media screen and (min-width: 768px){
                max-width: 100%;
            }
        }
    }
}

.tagline {
    text-align: center;

    h1{
        font-size: 1.5rem;
        font-weight: 100;
        color: #ffffff;
        margin: auto 5%;

        @media screen and (min-width: 768px){
            font-size: 2.1rem;
        }
    }

    .sign-in {
        margin: auto 5%;
        padding: 20px 0 0 0;

        .facebook-button {
            display: flex;
            border: none;
            background-color: rgba(255, 255, 255, 0.67);
            width: 180px;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            color: #2c2c2c;
            transition: all 0.2s ease-in-out;

            > *{
                margin: 5px;
            }

            i {
                font-size: 1.8rem;
            }

            p {
                font-size: .8rem;
            }

            &:hover {
                background-color: #3b5999;
                color: white;
            }
        }
    }
}


.scroll-down {
    bottom:30px;
    left:0;
    right:0;
    position: absolute;
    flex:1;
    display: none;
    flex-direction: column;
    align-items: center;
    color: white;

    h2 {
        font-weight: 300;;
        font-size: 1rem;
    }

    i {
        margin-top: 5px;;
        font-size: 1.5rem;
    }

    @media screen and (min-width: 768px){
        display: flex;
    }
}


/*----- Introduction to app -----*/

video{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
}

.app-introduction{
    display: flex;
    background: url('/images/HomeBackground.png');
    justify-content: center;
    min-height: 100vh;

}
.introduction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto 10%;

/*    margin: auto 20%;*/
}

.introduction-wrapper h2,h3{
    color: black;
}

.introduction-wrapper h2{
    display: none;
    font-weight: 900;
    font-size: 2rem;
    margin: 20px auto;
    color: rgb(102, 191, 171);
}

.introduction-wrapper h3 {
    max-width: 1000px;
    font-weight: 300;
    font-size: 2.5rem;
    background-color: rgba(255, 255, 255, 0.68);
    margin: 50px;
    padding: 100px;
    color: #717171;

    -webkit-box-shadow: 0px 7px 21px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 0px 7px 21px 0px rgba(0,0,0,0.07);
    box-shadow: 0px 7px 51px 0px rgba(0,0,0,0.07);
}

.app-introduction {
    position: relative;
}

.how-it-works {

    background: #4CA1AF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4CA1AF , #B35B4D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4CA1AF , #B35B4D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.how-it-works h2{
    margin: 50px auto 120px auto;
    color: #6F6F6F;
    font-weight: 300;
    background-color: white;
    text-transform: uppercase;
    padding: 30px;

    -webkit-box-shadow: 0px 7px 21px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 7px 21px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 7px 51px 0px rgba(0,0,0,0.1);
    font-size: 2rem;
}

.how-it-works-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.how-it-works-wrapper .description{
    display: flex;
    margin-top: 20px;
}

.how-it-works-wrapper .description h3,
.how-it-works-wrapper .description .icon{
    font-weight: 900;
    font-size: 2rem;
    color: white;
}

.how-it-works-wrapper > div > h3{
    font-size: 6rem;
    color: white;
    font-weight: 900;
}

.how-it-works-wrapper > div{
    background-color: rgba(0, 0, 0, 0.15);
    width: 50%;
    padding: 40px;
    /* color: black; */
    border: 2px solid rgba(255, 255, 255, 0.66);


}

.how-it-works-wrapper > div:nth-child(odd){
    align-self: flex-end;
}

.how-it-works-wrapper p{
    margin-top: 10px;
    color: white;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.how-it-works-wrapper .description .icon {
    margin-right: 10px;
    flex: 0 0 50px;
}

.how-it-works-wrapper .description span{

    background-color: rgba(255, 255, 255, 0.12);
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
    text-align: center;
}


/* ---------------------------------------------------------------- */
/* MEDIA QUERIES */
/* ---------------------------------------------------------------- */


@media screen and (max-width: 767px){

/*
    .header-background {
        flex-direction: column;
        text-align: center;
    }

    .header-background .logo{
        width:200px;
        flex-basis: 200px;
        height: 260px;
    }

    .tagline {
        justify-content: center;
    }
*/
     .how-it-works-wrapper > div{
        margin:12.5px 25px;
        width: calc(100% - 50px);
    }

    .introduction-wrapper h3 {
        font-size: 2rem;
        margin: 0;
        padding: 50px;
    }
}
