@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
/*@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900,100);

/* ---------------------------------------------------------------- */
/* MAIN SETUP */
/* ---------------------------------------------------------------- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Lato,Helvetica,"sans-serif";
    font-weight: 300;
    font-size: 25px;
}

img{
    max-width: 100%;
    height: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ---------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------------------- */

.max-width{
    
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper-main.profile-page{
    
    background: #5f2c82; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #5f2c82 , #49a09d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #5f2c82 , #49a09d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    min-height: 100vh;
    // display: flex;
    // flex-direction: column;
}


/* ---------------------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------------------- */


.profile-page header:first-of-type {
    background-color: #000000;
}

.wrapper-nav{
    text-align: center;
    display: flex;
    justify-content: space-between;   
}

.wrapper-nav figure{
    flex: 0 0 50px;
    margin: 5px;
}


.wrapper-nav nav{
/*    border: 1px solid yellow;*/
    flex: 1 1 auto;
}

.wrapper-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    
}
.wrapper-nav ul li{
    flex: 0 1 120px;
}
.wrapper-nav ul li a{
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
}

.wrapper-nav ul li a:hover{
    
    color: #4DD0E1;
}


/* ---------------------------------------------------------------- */
/* COVER & PROFILE IMAGE */
/* ---------------------------------------------------------------- */


.cover-image{
    
    height: 300px;
    background-image: url("../photos/cover.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
}

.profile-image{
    
    top: 80px;
    position: relative;
    width: 150px;
    margin: 0;
}

.profile-image img{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
}


/* ---------------------------------------------------------------- */
/* TYPOGRAPHY */
/* ---------------------------------------------------------------- */


.cover-image h1{

    font-size: 3rem; 
    font-weight:100;
}

.cover-image h1{
    color:white;
}
.event h2, 
.event h3{
    
    color: white;
}

h2{
    font-weight: 900;
    font-size: 3rem;
}

h3{
    font-weight: 400;
    font-size: 1rem;
    
}

.main-content{
    margin: 0 2%;
    margin-bottom: 30px;
}


/* ---------------------------------------------------------------- */
/* LIKED GAMES */
/* ---------------------------------------------------------------- */


.liked-games {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.21);
    text-align: center;
    color: white;
    padding: 50px;
    
/*
    -webkit-box-shadow: 0px 7px 21px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 7px 21px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 7px 51px 0px rgba(0,0,0,0.15);
*/
}

.liked-games > *{
    flex:0 0 100px;
    margin: 10px;
    align-self:baseline;
}
.liked-games h2{
    flex:0 1 100%;
    align-self: center;
    font-weight: 900;
    font-size: 2rem;;
}

/* ---------------------------------------------------------------- */
/* EVENTS CARD LAYOUT */
/* ---------------------------------------------------------------- */


.event-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
}

.event-buttons a{
    font-size: .7rem;
    font-weight: 300;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    border: 2px solid #cccccc;
    border-bottom: 0;
/*    background-color: rgba(255, 249, 249, 0.65);*/
    transition: background-color .2s, color .2s;
    flex: 0 1 120px;
}

.event-buttons a:hover{
    background-color: #FF8A65;
    color: white;
    border: 2px solid #FF8A65;
    border-bottom: 0;
}

.event-buttons-hover{
    background-color: rgba(255, 255, 255, 0.34);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.34);
    border-bottom: 0;
}

.event-buttons i{
    margin: 5px;
    display: block;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.event-buttons a{
    color: white;
}

.my-events, .global-events {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.34);
}

.event {
    
    position: relative;
    flex: 0 1 calc(33.33% - 20px);
    margin: 10px;
    background-position: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    transition: border 0.1s;
/*    border: 6px solid white;*/
}

.four-column{
    flex: 0 1 calc(25% - 20px);
}

.fifa{
    
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1) ),url(../photos/gamesBG/Fifa16BG.jpeg); 
}

.hearthstone{
    
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1) ),url(../photos/gamesBG/HearthStoneBG.jpg); 
}

.csgo{
    
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) ),url(../photos/gamesBG/CSGOBG.jpg);
}

.cod{
    
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) ),url(../photos/gamesBG/CODBG3.jpg);
}

.smash{
    
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1) ),url(../photos/gamesBG/SuperSmashBGSmall.jpg);
    
}

.dota2{
    
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1) ),url(../photos/gamesBG/Dota2BGLow.jpg);
    
}


/*----- DECISION EFFECTS -----*/


.decision{
   
    position: absolute;
    height: 130px;
/*    bottom: 35%;*/
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(77, 137, 152);
    
}

.decision a{
    
    flex: 0 1 50%;
    color: #ffffff;
    align-self: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.decision a:first-child{
    
    flex: 0 1 100%;
    align-self: center;
}

.decision i{
    
    font-size: 1.5rem;
    padding: 15px 0;
}

.yes{

    transition: background-color 0.2s;
}

.yes:hover{
    background-color: #AED581;
}

.no{
    transition: background-color 0.2s;
}

.no:hover{
    background-color: #FF8A65;
}

.game-logo img{
    
    border-radius: 50%;
    width: 80px;
    border: 6px solid rgba(116, 116, 116, 0.19);
}

.game-logo figcaption{
    color:white;
    font-size: 1rem;
}

.creator-picture {
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0;
    margin-top: 50px;
    padding: 20px;
}

.creator-picture p{    
    flex: 0 0 auto;
    font-size: 1rem;
    margin: 10px;
}

.creator-picture img{
    border-radius: 50%;
}

.creator-picture figure{
    flex: 0 0 50px;
    margin: 10px;
}

.going{
    border: 6px solid rgb(174, 213, 129);
    
}

.not-going{
    border: 6px solid #FF8A65;
}

/* ---------------------------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------------------------- */

footer{
    background-color: black;
    height: 60px;
}

/* ---------------------------------------------------------------- */
/* MEDIA QUERIES */
/* ---------------------------------------------------------------- */


@media screen and (max-width: 900px){
    
    .event {
    
    flex: 0 1 calc(50% - 20px);
        
    }
    
}

@media screen and (max-width: 600px){
    
    .event {
    
    flex: 0 1 calc(100% - 20px);
        
    }
    
}



.ion-log-out {
    font-size: 1.5rem;
}
