$green: rgba(174, 213, 129, 0.8);
$red: #ff5c29;

.validation {
	background: $red;
	color: #fff;
	font-size: 1rem;
	margin-bottom: 50px;
	padding: 20px;
}

.admin {
	background: rgba(255, 255, 255, 0.21);
	color: #fff;
	padding: 50px;
	margin: 2%;

	h2 {
		color: #fff;
		font-weight: 100;
		font-size: 2rem;
		text-align: center;
		margin: 0 10px 50px 10px;
	}

	.btn {
		background: rgba(0, 0, 0, 0.43);
		border: 0;
		color: #fff;
		padding: 5px;
		transition: 0.3s all;

		&.btn-danger:hover {
			background: $red;
		}

		&.btn-primary:hover {
			background: $green;
		}
	}

	.table {
		font-size: 1rem;
		width: 100%;

		tr {
			td {
				text-align: center;
			}
		}
	}

	form {
		label {
			display: block;
			color: #fff;
	    font-weight: 100;
	    font-size: 1rem;
	    text-align: left;
		}

		input[type="text"], select, textarea, .preview {
			text-align: left;
	    background: rgba(255, 255, 255, 0.34);
	    border: 1px solid #fff;
	    margin-top: 5px;
	    width: 500px;
	    max-width: 100%;
	    padding: 10px;
	    font-size: 1rem;
		}

		.preview {
			display: none;

			img {
				max-width: 100%;
				height: auto;
			}
		}

		textarea {
			height: 150px;
		}

		input:focus, textarea:focus {
			outline: 0;
		}

		.btn {
			background: transparent;
			width: 25px;
			text-align: center;
		}
	}
}

.add_event form {
	padding: 40px;
}

.alert {
	position: absolute;
  left: 5%;
  width: 90%;
  top: 50%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  margin-top: -20px;
  padding: 0 10px;
  z-index: 10;

  button {
  	background: transparent;
  	border: 0;
  	float: right;
  }

  &.alert-success {
  	background: $green;
  }
}

.pull-right {
	float: right;
}

.hide {
	display: none;
}